/* kogu lehe sisu on max 1000px ja min 600px lai */


html { 
  background: url(../pildid/lumi.png) no-repeat center center fixed; 
  background-size: cover;

}
li a {
  
  position: relative;
  left: 10px;
}
li:not(a) {
  text-shadow: 4px 4px 4px rgb(255, 255, 0);
}
img.arhiivifoto {
  height: 320px;
  width: 404px;
}

img {
  border: rgb(190, 190, 195) solid;
  border-width: 5px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: 15px;
}

img:hover {
  border: cyan solid;
  border-width: 5px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: 15px;
}

h1, figcaption {
  display: inline;
  background-color: rgb(190, 190, 195);
}

h1:hover {
  background-color: cyan;
}

h6 {
  font-style: italic;
  text-align: center;
}

h6 a:link {
  color: red;
}

h6 a:visited {
  color: black;
}


h6 a:hover {
  color: rgb(190, 190, 195);
}

h6 a:active {
  color: cyan;
}

#sisu {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: justify;
  text-justify: newspaper;

 
}
#sisu, #foto {
  max-width: 1000px;
  min-width: 600px;
  margin: auto;
}

#sisu p, li a {
  text-shadow: 4px 4px 4px rgb(122, 17, 17);
}
em {
  text-family: "Comic Sans MS", cursive, sans-serif;
}
